# Useful sshd snippets, because copy-pasting is easier than having to remember.

#
# To create an SFTP-only user (tested on Ubuntu 16.04 LTS):
#
Subsystem sftp /usr/lib/openssh/sftp-server

Match Group sftponly
  ChrootDirectory %h
  ForceCommand internal-sftp
  AllowTcpForwarding no
  X11Forwarding no
